<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="bejelentkezve">
    <div class="navbar-brand">{{title}}</div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/kezdolap" class="nav-link" routerLink="kezdolap">Kezdőlap</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="bejelentkezve">
      <li class="nav-item">
        <a href class="nav-link" (click)="kijelentkezes()">Kijelentkezés</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
