.tablak{
  margin-top: 6em;
  color: #fff8f8;
}
.tabla{
  border-radius: 25px;
}

.kor_ikon{
  background-color: darkseagreen;
}

.szerkesztes_ikon{
  background-color: #e78849;
}

.capitalize {
  text-transform: capitalize;
}

.betuszin{
  color: #ffffff;
}

.hozzaad{
  float: right;
  margin-top: -4.5em;
  background-color: #50C878;
}

.ures_resz{
  height: 6em;
}

.torles_pozicio{
  display: block;
  position: absolute;
  top:0.5em;
  right: 0.5em;
}

.bal_pozicio{
  display: block;
  position: absolute;
  top:0.5em;
  left: 0.5em;
}

.X_gomb{
  background-color: black;
}

.doboz{
  border: solid 1px #ccc;
  min-height: 60px;
  width: 100%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.centered {
  text-align: center;
  font-size: 0;
  margin: 0 auto;
}
.centered > div {
  float: none;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}
