<div class="card my-5">
  <button mat-fab color="primary" class="uj_szemely" (click)="dialog_add('Hozzáadás')"><mat-icon>person_add</mat-icon></button>
    <div class="card-body">
      <table class="table table-bordered table-striped rounded">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Neve</th>
            <th scope="col">Poszt</th>
            <th scope="col">Műveletek</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let szemely of szemelyek; let i = index">
            <td class="id">{{ i+1 }}</td>
            <td class="nev">{{ szemely.szemely_nev }}</td>
            <td class="poszt">{{ szemely.szemely_poszt }}</td>
            <td>
              <button mat-icon-button color="primary" (click)="dialog('Szerkesztés',szemely)"><mat-icon>border_color</mat-icon></button>
              <button mat-icon-button color="warn" (click)="dialog('Törlés', szemely)"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<style>
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  .id,.nev{
    font-weight: bold;
  }

  .poszt{
    font-style: italic;
  }

  .uj_szemely{
    align-self: end;
    background-color: lightseagreen;
    margin-top: 1em;
    margin-right: 1em;
  }
</style>
